<div class="wrapper">
    <nav id="sidebar">
      <div class="sidebar-header">
        <h3>AFF-ETUD</h3>
      </div>
      
      
      <ul class="list-unstyled components">
          <li>
              <a href="#acceuil">ACCEUIL</a>
            </li>
            <li>
                <a href="#formulaire">FORMULAIRE</a>
              </li>
            <li>
                <a href="#Affichage">AFFICHER CHOIX</a>
              </li>
        <li>
          <a href="#contacts">NOS CONTACTS</a>
        </li>
      </ul>
    </nav>
    <div class="content">
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
      
    <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ml-auto">
     <li class="nav-item active">
       <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
     </li>
     <li class="nav-item">
       <a class="nav-link" href="#">Features</a>
     </li>
     <li class="nav-item">
       <a class="nav-link" href="#">Pricing</a>
     </li>
     <li class="nav-item">
       <a class="nav-link disabled" href="#">Disabled</a>
     </li>
    </ul>
    </div>
    </nav>
    </div>
  </div>